<!DOCTYPE html>
<html>
  <head>
    <style>
      .heading {
        text-align: center;
      }
    </style>
  </head>
  <body>
      {% if error %}
    <h1>Error 404</h1>
    <h3>{{ error }}</h3>
    {% endif %}
  </body>
</html>
