<!DOCTYPE html>
<html>
  <head>
    <style>
      .heading {
        text-align: center;
      }
      table {
        width: 40vw;
      }

      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
      }
    </style>
  </head>
  <body>
    <h1 class="heading">Goals Table</h1>
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Weekly Goals</th>
          <th>Daily Goals</th>
          <th>Verify Goals</th>
          <th>Done Goals</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ user.user }}</td>
          <td>
            {% for goal in user.weekly_goals %}
            <p><b>{{ goal.goal_id }}</b> - {{ goal.goal_name }}</p>
            {% endfor %}
          </td>
          <td>
            {% for goal in user.daily_goals %}
            <p><b>{{ goal.goal_id }}</b> - {{ goal.goal_name }}</p>
            {% endfor %}
          </td>
          <td>
            {% for goal in user.verify_goals %}
            <p><b>{{ goal.goal_id }}</b> - {{ goal.goal_name }}</p>
            {% endfor %}
          </td>
          <td>
            {% for goal in user.done_goals %}
            <p><b>{{ goal.goal_id }}</b> - {{ goal.goal_name }}</p>
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
