<!DOCTYPE html>
<html>
  <head>
    <style>
      .heading {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1 class="heading">{{ data }}</h1>
    {% if goal %}
    <h3>Goal: <span>{{ goal }}</span></h3>
    {% endif %}
  </body>
</html>
