{% extends 'oluwasayoscrumy/base.html' %} 

{% block body %}
<main class="heading">
    <form method="POST">
      <h1>Add a goal</h1>
      {% csrf_token %} 
      {{ form.as_p }} 
      {% if form.errors %}
        <h1>Error Occured</h1>
      {% endif %}
      <button type="submit">Submit</button>
    </form>
</main>
{% endblock body %}
