<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .heading {
        text-align: center;
      }
      table {
        width: 40vw;
        height: 100vh;
        overflow-y: scroll;
      }

      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
      }

      div {
        height: 85vh;
        overflow-y: scroll;
        border: 1px solid cornflowerblue;
      }
    </style>
  </head>
  <body>
    {% if current_user %}
        <h2>Username: <i>{{ current_user }}</i></h2>
    {% endif %} 
    {% block body %} 

    {% endblock body %}
  </body>
</html>
