<!DOCTYPE html>
<html>
  <head>
    <style>
      .heading {
        text-align: center;
      }

      .form-input {
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <div class="heading">
      <h1>Your account has been created successfully</h1>
      <h2><a href="{% url 'oluwasayoscrumy:login'%}">Login</a></h2>
    </div>
  </body>
</html>
