{% extends 'oluwasayoscrumy/base.html' %}

{% block body %}
<h1 class="heading">Goals Table</h1>
<h3><a href="{% url 'oluwasayoscrumy:add-goal' %}">Add Goal</a></h3>
<div>
  <table class="heading">
    <thead>
      <tr>
        <th>User</th>
        <th>Weekly Goals</th>
        <th>Daily Goals</th>
        <th>Verify Goals</th>
        <th>Done Goals</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user }}</td>
        <td>
          {% for goal in user.goals.all %} 
          {% ifequal goal.goal_status.status_name "Weekly Goal" %}
          <p>
            <b>{{ goal.goal_id }}</b> -
            <a href="{% url 'oluwasayoscrumy:move-goal' goal.goal_id %}"
              >{{ goal.goal_name }}</a
            >
          </p>
          {% endifequal %} 
          {% endfor %}
        </td>
        <td>
          {% for goal in user.goals.all %} 
          {% ifequal goal.goal_status.status_name "Daily Goal" %}
          <p>
            <b>{{ goal.goal_id }}</b> -
            <a href="{% url 'oluwasayoscrumy:move-goal' goal.goal_id %}"
              >{{ goal.goal_name }}</a
            >
          </p>
          {% endifequal %} 
          {% endfor %}
        </td>
        <td>
          {% for goal in user.goals.all %} 
          {% ifequal goal.goal_status.status_name "Verify Goal" %}
          <p>
            <b>{{ goal.goal_id }}</b> -
            <a href="{% url 'oluwasayoscrumy:move-goal' goal.goal_id %}"
              >{{ goal.goal_name }}</a
            >
          </p>
          {% endifequal %} 
          {% endfor %}
        </td>
        <td>
          {% for goal in user.goals.all %} 
          {% ifequal goal.goal_status.status_name "Done Goal" %}
          <p>
            <b>{{ goal.goal_id }}</b> -
            <a href="{% url 'oluwasayoscrumy:move-goal' goal.goal_id  %}"
              >{{ goal.goal_name }}</a
            >
          </p>
          {% endifequal %} 
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock body %}
