<!DOCTYPE html>
<html>
  <head>
    <style>
      .heading {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1 class="heading">{{ data }}</h1>
    {% if goal %}
    <h3>Goal: <span>{{ goal }}</span></h3>
    {% endif %}
    <form method="POST">
      {% csrf_token %}
        {{ form.as_p }}
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
