<!DOCTYPE html>
<html>
  <head>
    <style>
      .heading {
        text-align: center;
      }
    </style>
  </head>
  <body class="heading">
    <form method="POST">
        <h1>Move goal</h1>
      {% csrf_token %}
      {{ form.as_p }}

      {% if form.errors %}
          <h1>Error Occured</h1>
      {% endif %}
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
