<!DOCTYPE html>
<html>
  <head>
    <style>
      .heading {
        text-align: center;
      }

      .form-input {
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <div class="heading">
      <h1>Login</h1>
      <form method="POST">
        {% csrf_token %}
        <div class="form-input">
          <input name="username" placeholder="Username" />
        </div>
        <div class="form-input">
          <input name="password" placeholder="Password" type="password" />
        </div>
        <div class="form-input">
          <button type="submit">Submit</button>
        </div>
        {% if form.errors %}
            <h1>Invalid login credentials</h1>
        {% endif %}
      </form>
    </div>
  </body>
</html>
